[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chatline = {path = ".", editable = true}

[dev-packages]
fastapi = "*"
uvicorn = "*"
pytest = "*"  # Example dev tool for testing
setuptools = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
