[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
rich = "*"
prompt-toolkit = "*"
httpx = "*"
chatline = {file = ".", editable = true}

[dev-packages]
fastapi = "*"
uvicorn = "*"
hatchling = "*"  

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
